<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SMDRReceiverService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <SMDRReceiverService.Properties.Settings>
            <setting name="SMDR_ListeningIP" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="SMDR_ListeningPort" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="SaveToSQL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SQL_Server" serializeAs="String">
                <value>SqlServer.domain.local</value>
            </setting>
            <setting name="SQL_Database" serializeAs="String">
                <value>SMDRLog</value>
            </setting>
            <setting name="SQL_Username" serializeAs="String">
                <value>SMDRLogger</value>
            </setting>
            <setting name="SQL_Password" serializeAs="String">
                <value>1234567890ABC!</value>
            </setting>
            <setting name="SaveToCSV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathForCSVs" serializeAs="String">
                <value>c:\CallLogs</value>
            </setting>
            <setting name="VerboseEventLogging" serializeAs="String">
                <value>False</value>
            </setting>
        </SMDRReceiverService.Properties.Settings>
    </applicationSettings>
</configuration>